services:
  db:
    image: postgres:16
    container_name: chat-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: chatapp
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
